 /*Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html {
  scroll-behavour: smooth;
}

body {
  /*font-family: "Montserrat";*/
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

img {
  display: block;
  height: auto;
}

h1, h2 {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
}


h3 {
  font-family: "Montserrat" ;
}

p {
  color: #8f8f8f;
}

#title {
  background-color: #097A55;
  background: linear-gradient(rgba(115,50,56, 0.5), rgba(115,50,56, 0.5)),url(../images/gym_weightlifting.png);
  color: #fff;
  flex:1 1 auto
}

.container-fluid {
  padding: 3% 15%;
}

.img-fluid {
  opacity: 1;
  max-width: 50%;
  height: auto;
  float: right;
  padding-right: 50px;
}

/*Navigation Bar*/   

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 2px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
}

/*Download Buttons*/

.download-button {
  margin: 5% 3% 5% 0;
}

/*Features Section*/

#features {
    padding: 7% 15%;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #F68875;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #FF6347;
}

/*Testimonials Section*/

#testimonials {
  text-align: center;
  background-color: #097A55;
  color: #fff;
}

.testimonial-image {
    width:20%; 
    border-radius: 100%;
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.carousel-inner .testimonial-image {
  width:200px;
  height:160px;
  
}

.carousel-item {
  padding: 7% 15%;
}

/*Press*/

#press {
  background-color: #733238;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 250px;
  margin: 20px 20px 50px;
  
}

/*Pricing Section*/

#pricing {
  
  padding: 100px 0;
  text-align: center;
}

.pricing-title {
  margin-bottom: 50px;
}

.pricing-column {
  padding: 3% 2%;
}

.card {
  box-shadow: 0px 3px 63px -12px rgba(0,0,0,0.75);
  border-color: #000;
  border-radius: 10px;
}

.card-body {
  padding: 7% 0;
}

.pricing-text {
  color: #097A55;
  font-size: 2rem;
  font-weight: bold;
  padding: 5% 0;
}

.btn-block {
  font-size: 1.5rem;
}

/*Footer*/

#footer {
  height: 200px;
}

.footer-icon {
  font-size: 2rem;
  margin: 0 30px;
  color: #097A55;
  padding: -5% 3%;
}

/*Media Queries*/

@media only screen and (max-width: 995px) {
  .img-fluid {
    display: none;
  }
  .card {
    margin: 20px 0;
  }
  .sm-mobile-title {
    font-size: 2.5rem;
  }
  .sm-mobile {
    font-size:1.5rem;
  }
  
}