
body {
  font-family: "Montserrat";
  
}

img {
  display: block;
  height: auto;
}

#title {
  background-color: #733238;
  color: #fff;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-family: "Montserrat-Black";
  font-size: 3rem;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat-Bold" ;
}

p {
  color: #8f8f8f;
}

/*Navigation Bar*/   

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 2px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/*Download Buttons*/

.download-button {
  margin: 5% 3% 5% 0;
}

/*Features Section*/

#features {
    padding: 7% 15%;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #F68875;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #FF6347;
}

/*Testimonials Section*/

#testimonials {
  text-align: center;
  background-color: #733238;
  color: #fff;
}

.testimonial-image {
    width:20%; 
    border-radius: 100%;
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.carousel-inner .testimonial-image {
  width:200px;
  height:160px;
  
}

.carousel-item {
  padding: 7% 15%;
}

/*Press*/

#press {
  background-color: #733238;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 250px;
  margin: 20px 20px 50px;
  
}